body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
}

.container{
    width:70%;
    margin:auto;
    text-align:center;
}

form{
    margin:20px;
}

input{
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table,th,td{
    border:1px solid black;
}

th{
    background:#4CAF50;
    color:white;
}

th,td{
    padding:10px;
}

.error{
    color:red;
}